.Button {
    cursor: pointer;
}

.Button:not(.icon) {
    padding: 8px 16px;
    border: 1px solid #AAAAAA;
    background-color: #EFEFEF;
}

.Button:not(.icon):active {
    background-color: #BCBCBC;
}

.Button:not(.icon).danger {
    background-color: #ff4400;
    border: 1px solid #bb4400;
    color: #FFFFFF;
}

.Button:not(.icon).danger:active {
    background-color: #bb4400;
    border: 1px solid #bb4400;
    color: #FFFFFF;
}

.Button:not(.icon).primary {
    background-color: #00AAFF;
    color: #FFFFFF;
}

.Button.icon {
    font-size: inherit;
    background: transparent;
    border: none;
    color: currentColor;
}