.DisplayPrimaryCharacters {
  width: 60%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.DisplayPrimaryCharacters .active-character,
.DisplayPrimaryCharacters .next-character {
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  padding: 24px;
  height: 100%;
}

.DisplayPrimaryCharacters .active-character {
  font-size: 64px;
  background-color: #ffffff;
}

.DisplayPrimaryCharacters .next-character {
  font-size: 48px;
  background-color: #eeeeee;
}

.DisplayPrimaryCharacters .active-character h2,
.DisplayPrimaryCharacters .next-character h2 {
  font-weight: normal;
  font-size: 50%;
  text-align: left;
  text-transform: uppercase;
}
