.DisplayCombatTracker {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.DisplayCombatTracker .display-body {
  display: flex;
  height: 100%;
}
