.AdminCombatTracker {
    height: 100vh;
    box-sizing: border-box;
    background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
}

.AdminCombatTracker header {
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: #FFFFFF;
}

.AdminCombatTracker .split {
    display: flex;
    height: 100%;
}
