.CharacterConditionList {
    box-sizing: border-box;
}

.CharacterConditionList ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.CharacterConditionList li {
    margin: auto 8px;
}

.CharacterConditionList legend {
    font-weight: bold;
}