.NpcUrl {
  display: flex;
}

.NpcUrl strong {
  margin: auto 0;
}

.NpcUrl > div {
  display: flex;
  width: 100%;
}

.NpcUrl .Text {
  width: 100%;
  margin-bottom: 0;
}

.NpcUrl .Button {
  margin: auto 0;
}
