.JoinOrCreateForm {
  margin: 24px auto;
  max-width: 768px;
  box-sizing: border-box;
}

.JoinOrCreateForm .form-body {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 0 3px 3px 3px;
  border: 1px solid #000000;
}

/* Tabs */
.JoinOrCreateForm .controls {
  display: flex;
}

.JoinOrCreateForm .controls input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.JoinOrCreateForm .controls label {
  display: block;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  background-color: #efefef;
  margin-bottom: -1px;
}

.JoinOrCreateForm .controls input:checked + label {
  font-weight: bold;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.JoinOrCreateForm .controls label:not(:first-of-type) {
  border-left: 0;
}

/* Role Toggle */
.JoinOrCreateForm .toggle-role {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.JoinOrCreateForm .toggle-item {
  border: 1px solid black;
  box-sizing: border-box;
}

.JoinOrCreateForm .toggle-item + .toggle-item {
  border-left: 0;
}

.JoinOrCreateForm .toggle-item input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.JoinOrCreateForm .toggle-item label {
  padding: 8px 16px;
  background-color: #ffffff;
  display: block;
  cursor: pointer;
}

.JoinOrCreateForm .toggle-item input:checked + label {
  background-color: #00aaff;
  color: #ffffff;
}
