.CharacterActionsListItem {
  display: flex;
}

.CharacterActionsListItem + .CharacterActionsListItem {
  margin-top: 16px;
}

.CharacterActionsListItem .info {
  width: 100%;
}

.CharacterActionsListItem .edit {
  width: 2rem;
}
