.FormRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 8px 0;
}

.FormRow:first-child {
    margin-top: 0;
}

.FormRow > * {
    width: 100%;
}

.FormRow > * + * {
    margin-left: 16px;
}
